@font-face {
    font-family: 'fontSt1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.fontSt1 * {
    font-family: 'fontSt1', serif;
}

@font-face {
    font-family: 'fontSt2';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fontSt2 * {
    font-family: 'fontSt2', serif;
}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.fontSt3 * {
 font-family: 'Nanum Myeongjo', serif;
}

@font-face {
    font-family: 'fontSt4';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fontSt4 * {
 font-family: 'fontSt4', sans-serif;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.fontSt5 * {
 font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
    font-family: 'fontSt6';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontSt6 * {
 font-family: 'fontSt6', sans-serif;
}

@font-face {
    font-family: 'fontSt7';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fontSt7 * {
 font-family: 'fontSt7', sans-serif;
}
  @font-face {
    font-family: 'fontSt8';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }
  
  .fontSt8 * {
   font-family: 'fontSt8', sans-serif;
  }


  @font-face {
    font-family: 'fontSt9';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .fontSt9 * {
   font-family: 'fontSt9', sans-serif;
  }

    @font-face {
        font-family: 'fontSt10';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .fontSt10 * {
    font-family: 'fontSt10', sans-serif;
    }

    @font-face {
        font-family: 'fontSt11';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    .fontSt11 * {
    font-family: 'fontSt11', sans-serif;
    }

    @font-face {
        font-family: 'fontSt12';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .fontSt12 * {
    font-family: 'fontSt12', sans-serif;
    }

    @font-face {
    font-family: 'fontSt13';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'fontSt13';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'fontSt13';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .fontSt13 * {
    font-family: 'fontSt13', sans-serif;
   }
/* FONT  END ========================================================================================================= */
/* CSS START */

.ftred{     color: #FF0000 !important;}
.ftBold{    font-weight: bold !important;}
.center{    text-align: center !important;}
.dimmed{z-index:998; background-color: rgba(0, 0, 0, 0.75); position: fixed; left: 0; right: 0; top: 0; bottom: 0; }

.loadlayer{z-index:999; text-align:center; min-height: 10rem; max-height: 13rem; position: fixed; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.layer_popup{display: contents; position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
.layer_popup div{display:block; text-align:center;}
.layer{z-index:999; width: 30rem !important; min-height: 10rem; max-height: 13rem; background-color: #fff; border: 1px solid #e5e5e5; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; border-radius: 5px; box-shadow: 0 0 10px -4px;}
.layer p {font-size:1.8rem; margin:1.5rem 0}
.layer button {font-size:1.5rem; padding:0.5rem 1rem; background:#4375DB; color:fff; border-radius:0.5rem}


@media ( max-width: 768px ) {
	.layer_popup {position:fixed; display: inline-block; z-index:999}
	.layer {width:90% !important}
	.layer p{margin: 1rem}	
}

.content {
    text-align: center;
    position: relative;
    cursor: default;
    margin: 0 1%;
    width: 98%;
}

.content ul {list-style: none;}

.sample {
	padding: 20;
    width: calc(126px * 4.5);
    height: calc(34px * 4.5);
    display: inline-table;
    pointer-events : none;
}

.sample .shape {
    padding: 2% 6%;
    width: calc(126px * 4);
    height: calc(34px * 4);
    border: 2px solid;
    position: relative;
	border-radius: 10px;
    display: flex;
}

.sample .shape .area_img{
    width: 25%;
    display: flex;
    justify-content: center;
}

.sample .shape .area_img img{
    margin: auto;
    width: 100%;
    display: inline-block;
    position: relative;
}

.sample .shape .area_txt{
    flex: 1 0 auto;
    margin: auto;
}

.sample .shape .area_txt p{
    margin: 5px 0;
    font-weight: bold;
}

/* fontSt1 더잠실체 */
.sample .fontSt1 .area_txt .txt1{ font-size: 36.5px;                 }
.sample.number .fontSt1 .area_txt .txt1{ font-size: 29px;            }
.sample.area_img .fontSt1 .area_txt .txt1{ font-size: 29px;          }
.sample.area_img.number .fontSt1 .area_txt .txt1{ font-size: 21.5px; }
.sample .fontSt1 .area_txt .txt2{ font-size: 57px;                   }
.sample.words .fontSt1 .area_txt .txt2{ font-size: 57px;             }
.sample.area_img .fontSt1 .area_txt .txt2{ font-size: 44px;          }
.sample.area_img.words .fontSt1 .area_txt .txt2{ font-size: 44px;    }

/* fontSt2 을지로체 */
.sample .fontSt2 .area_txt .txt1{ font-size: 40px;                   }
.sample.number .fontSt2 .area_txt .txt1{ font-size: 29px;            }
.sample.area_img .fontSt2 .area_txt .txt1{ font-size: 29.5px;        }
.sample.area_img.number .fontSt2 .area_txt .txt1{ font-size: 25px;   }
.sample .fontSt2 .area_txt .txt2{ font-size: 65px;                   }
.sample.words .fontSt2 .area_txt .txt2{ font-size: 60px;             }
.sample.area_img .fontSt2 .area_txt .txt2{ font-size: 51px;          }
.sample.area_img.words .fontSt2 .area_txt .txt2{ font-size: 48px;    }

/* fontSt3 나눔명조 */
.sample .fontSt3 .area_txt .txt1{ font-size: 33px;                   }
.sample.number .fontSt3 .area_txt .txt1{ font-size: 25px;            }
.sample.area_img .fontSt3 .area_txt .txt1{ font-size: 24px;          }
.sample.area_img.number .fontSt3 .area_txt .txt1{ font-size: 20px;   }
.sample .fontSt3 .area_txt .txt2{ font-size: 60px;                   }
.sample.words .fontSt3 .area_txt .txt2{ font-size: 57px;             }
.sample.area_img .fontSt3 .area_txt .txt2{ font-size: 45px;          }
.sample.area_img.words .fontSt3 .area_txt .txt2{ font-size: 45px;    }

/* fontSt4 KCC은영체 */
.sample .fontSt4 .area_txt p{ margin: -10px;                         }
.sample.area_img .fontSt4 .area_txt p{ margin: -20px;                }
.sample .fontSt4 .area_txt .txt1{ font-size: 61px;                   }
.sample.number .fontSt4 .area_txt .txt1{ font-size: 35px;            }
.sample.area_img .fontSt4 .area_txt .txt1{ font-size: 47px;          }
.sample.area_img.number .fontSt4 .area_txt .txt1{ font-size: 35px;   }
.sample .fontSt4 .area_txt .txt2{ font-size: 100px;                  }
.sample.words .fontSt4 .area_txt .txt2{ font-size: 82px;             }
.sample.area_img .fontSt4 .area_txt .txt2{ font-size: 80px;          }
.sample.area_img.words .fontSt4 .area_txt .txt2{ font-size: 77px;    }


/* fontSt5 나눔고딕 */
.sample .fontSt5 .area_txt p{ margin: -5px;                          }
.sample.area_img .fontSt5 .area_txt p{ margin: -10px;                }
.sample .fontSt5 .area_txt .txt1{ font-size: 34px;                   }
.sample.number .fontSt5 .area_txt .txt1{ font-size: 25px;            }
.sample.area_img .fontSt5 .area_txt .txt1{ font-size: 25px;          }
.sample.area_img.number .fontSt5 .area_txt .txt1{ font-size: 19px;   }
.sample .fontSt5 .area_txt .txt2{ font-size: 67px;                   }
.sample.words .fontSt5 .area_txt .txt2{ font-size: 62px;             }
.sample.area_img .fontSt5 .area_txt .txt2{ font-size: 51px;          }
.sample.area_img.words .fontSt5 .area_txt .txt2{ font-size: 50px;    }

/* fontSt6 산스체 */
.sample .fontSt6 .area_txt .txt1{ font-size: 34px;                   }
.sample.number .fontSt6 .area_txt .txt1{ font-size: 25px;            }
.sample.area_img .fontSt6 .area_txt .txt1{ font-size: 25.5px;        }
.sample.area_img.number .fontSt6 .area_txt .txt1{ font-size: 21.5px; }
.sample .fontSt6 .area_txt .txt2{ font-size: 62px;                   }
.sample.words .fontSt6 .area_txt .txt2{ font-size: 58px;             }
.sample.area_img .fontSt6 .area_txt .txt2{ font-size: 44px;          }
.sample.area_img.words .fontSt6 .area_txt .txt2{ font-size: 47px;    }

/* fontSt7 경기천년바탕체 */
.sample .fontSt7 .area_txt .txt1{ font-size: 37px;                   }
.sample.number .fontSt7 .area_txt .txt1{ font-size: 26px;            }
.sample.area_img .fontSt7 .area_txt .txt1{ font-size: 28px;          }
.sample.area_img.number .fontSt7 .area_txt .txt1{ font-size: 22.5px; }
.sample .fontSt7 .area_txt .txt2{ font-size: 72px;                   }
.sample.words .fontSt7 .area_txt .txt2{ font-size: 64px;             }
.sample.area_img .fontSt7 .area_txt .txt2{ font-size: 55px;          }
.sample.area_img.words .fontSt7 .area_txt .txt2{ font-size: 56px;    }

/* fontSt8 롯데행복체 */
.sample .fontSt8 .area_txt .txt1{ font-size: 37px;                   }
.sample.number .fontSt8 .area_txt .txt1{ font-size: 28px;            }
.sample.area_img .fontSt8 .area_txt .txt1{ font-size: 28px;          }
.sample.area_img.number .fontSt8 .area_txt .txt1{ font-size: 22px;   }
.sample .fontSt8 .area_txt .txt2{ font-size: 75px;                   }
.sample.words .fontSt8 .area_txt .txt2{ font-size: 72px;             }
.sample.area_img .fontSt8 .area_txt .txt2{ font-size: 58px;          }
.sample.area_img.words .fontSt8 .area_txt .txt2{ font-size: 58px;    }

/* fontSt9 써라운드체 */
.sample .fontSt9 .area_txt .txt1{ font-size: 35px;                   }
.sample.number .fontSt9 .area_txt .txt1{ font-size: 25px;            }
.sample.area_img .fontSt9 .area_txt .txt1{ font-size: 26px;          }
.sample.area_img.number .fontSt9 .area_txt .txt1{ font-size: 22px;   }
.sample .fontSt9 .area_txt .txt2{ font-size: 59px;                   }
.sample.words .fontSt9 .area_txt .txt2{ font-size: 57px;             }
.sample.area_img .fontSt9 .area_txt .txt2{ font-size: 44px;          }
.sample.area_img.words .fontSt9 .area_txt .txt2{ font-size: 44px;    }

/* fontSt10 둘기마요 */
.sample .fontSt10 .area_txt .txt1{ font-size: 40px;                   }
.sample.number .fontSt10 .area_txt .txt1{ font-size: 29px;            }
.sample.area_img .fontSt10 .area_txt .txt1{ font-size: 30px;          }
.sample.area_img.number .fontSt10 .area_txt .txt1{ font-size: 25px;   }
.sample .fontSt10 .area_txt .txt2{ font-size: 70px;                   }
.sample.words .fontSt10 .area_txt .txt2{ font-size: 66px;             }
.sample.area_img .fontSt10 .area_txt .txt2{ font-size: 53px;          }
.sample.area_img.words .fontSt10 .area_txt .txt2{ font-size: 53px;    }

/* fontSt11 수트체 */
.sample .fontSt11 .area_txt p{ margin: -5px;                          }
.sample.area_img .fontSt11 .area_txt p{ margin: -5px;                 }
.sample .fontSt11 .area_txt .txt1{ font-size: 37px;                   }
.sample.number .fontSt11 .area_txt .txt1{ font-size: 28px;            }
.sample.area_img .fontSt11 .area_txt .txt1{ font-size: 28px;          }
.sample.area_img.number .fontSt11 .area_txt .txt1{ font-size: 23px;   }
.sample .fontSt11 .area_txt .txt2{ font-size: 70px;                   }
.sample.words .fontSt11 .area_txt .txt2{ font-size: 66px;             }
.sample.area_img .fontSt11 .area_txt .txt2{ font-size: 53px;          }
.sample.area_img.words .fontSt11 .area_txt .txt2{ font-size: 53px;    }

/* fontSt12 KOHI배움 */
.sample .fontSt12 .area_txt .txt1{ font-size: 32px;                   }
.sample.number .fontSt12 .area_txt .txt1{ font-size: 23px;            }
.sample.area_img .fontSt12 .area_txt .txt1{ font-size: 24px;          }
.sample.area_img.number .fontSt12 .area_txt .txt1{ font-size: 20px;   }
.sample .fontSt12 .area_txt .txt2{ font-size: 60px;                   }
.sample.words .fontSt12 .area_txt .txt2{ font-size: 57px;             }
.sample.area_img .fontSt12 .area_txt .txt2{ font-size: 45px;          }
.sample.area_img.words .fontSt12 .area_txt .txt2{ font-size: 45px;    }

/* fontSt13 나눔바른고딕체  */
.sample .fontSt13 .area_txt p{ margin: -10px;                         }
.sample.area_img .fontSt13 .area_txt p{ margin: -5px;                 }
.sample .fontSt13 .area_txt .txt1{ font-size: 32px;                   }
.sample.number .fontSt13 .area_txt .txt1{ font-size: 24px;            }
.sample.area_img .fontSt13 .area_txt .txt1{ font-size: 25px;          }
.sample.area_img.number .fontSt13 .area_txt .txt1{ font-size: 19px;   }
.sample .fontSt13 .area_txt .txt2{ font-size: 67px;                   }
.sample.words .fontSt13 .area_txt .txt2{ font-size: 64px;             }
.sample.area_img .fontSt13 .area_txt .txt2{ font-size: 51px;          }
.sample.area_img.words .fontSt13 .area_txt .txt2{ font-size: 51px;    }


.option {
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
}

.option h2{
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

.option .opt_zip{
    width: 45%;
    padding: 1% 2%;
    display: inline-block;
    vertical-align: top;
}

.option .opt_item{
    width: 100%;
    margin-bottom: 3rem;
}

.option .opt_item .color-select{
    display: block;
    margin: 7px 0;
}

.option .opt_item select{
    width: 70%;
    padding: 5px;
    font-size: 1.2rem;
}

.option .opt_item input[type="text"], input[type="tel"]{
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
}

.emailbox{
    text-align: left;
}

.emailbox .into{
    margin: 5px 0;
}

.emailbox input[type="text"]{
    font-size: 20px;
    padding: 5px;
}

.emailbox .div_radio{
    display: block;
    font-size: 20px;
    margin: 5px 0;
}

.emailbox .div_radio .inline{
    margin: 5px;
}

.emailbox .agree{
    margin-bottom: 10px;
}

.emailbox  .agree textarea{
    width: 90%;
}

.btn_sendemail{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    background: cornflowerblue;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.emailbox .infobox ul{
    list-style: square;
}


@media ( max-width: 768px ) {
    
    .mo.sample {
        padding: 5px 30px;
        width: calc(126px * 2.5);
        height: calc(34px * 2.5);
        position: fixed;
        background: #fff;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .mo.sample .shape {
        width: calc(126px * 2);
        height: calc(34px * 2);
    }
    
    .mo.sample h5{
        font-size: 0.7rem;
        margin: 5px 0;
    }
    

    /* fontSt1 더잠실체 */
    .mo.sample .fontSt1 .area_txt .txt1{ font-size: 18px;                 }
    .mo.sample.number .fontSt1 .area_txt .txt1{ font-size: 14px;            }
    .mo.sample.area_img .fontSt1 .area_txt .txt1{ font-size: 13px;          }
    .mo.sample.area_img.number .fontSt1 .area_txt .txt1{ font-size: 11px; }
    .mo.sample .fontSt1 .area_txt .txt2{ font-size: 30px;                   }
    .mo.sample.words .fontSt1 .area_txt .txt2{ font-size: 27px;             }
    .mo.sample.area_img .fontSt1 .area_txt .txt2{ font-size: 22px;          }
    .mo.sample.area_img.words .fontSt1 .area_txt .txt2{ font-size: 22px;    }

    /* fontSt2 을지로체 */
    .mo.sample .fontSt2 .area_txt .txt1{ font-size: 21px;                   }
    .mo.sample.number .fontSt2 .area_txt .txt1{ font-size: 15px;            }
    .mo.sample.area_img .fontSt2 .area_txt .txt1{ font-size: 15px;        }
    .mo.sample.area_img.number .fontSt2 .area_txt .txt1{ font-size: 13px;   }
    .mo.sample .fontSt2 .area_txt .txt2{ font-size: 33px;                   }
    .mo.sample.words .fontSt2 .area_txt .txt2{ font-size: 31px;             }
    .mo.sample.area_img .fontSt2 .area_txt .txt2{ font-size: 25px;          }
    .mo.sample.area_img.words .fontSt2 .area_txt .txt2{ font-size: 25px;    }

    /* fontSt3 나눔명조 */
    .mo.sample .fontSt3 .area_txt .txt1{ font-size: 16px;                   }
    .mo.sample.number .fontSt3 .area_txt .txt1{ font-size: 13px;            }
    .mo.sample.area_img .fontSt3 .area_txt .txt1{ font-size: 12.5px;          }
    .mo.sample.area_img.number .fontSt3 .area_txt .txt1{ font-size: 10px;   }
    .mo.sample .fontSt3 .area_txt .txt2{ font-size: 31px;                   }
    .mo.sample.words .fontSt3 .area_txt .txt2{ font-size: 30px;             }
    .mo.sample.area_img .fontSt3 .area_txt .txt2{ font-size: 23px;          }
    .mo.sample.area_img.words .fontSt3 .area_txt .txt2{ font-size: 23px;    }

    /* fontSt4 KCC은영체 */
    .mo.sample .fontSt4 .area_txt p{ margin: -10px;                         }
    .mo.sample.area_img .fontSt4 .area_txt p{ margin: -10px;                }
    .mo.sample .fontSt4 .area_txt .txt1{ font-size: 31px;                   }
    .mo.sample.number .fontSt4 .area_txt .txt1{ font-size: 22px;            }
    .mo.sample.area_img .fontSt4 .area_txt .txt1{ font-size: 23px;          }
    .mo.sample.area_img.number .fontSt4 .area_txt .txt1{ font-size: 17px;   }
    .mo.sample .fontSt4 .area_txt .txt2{ font-size: 55px;                  }
    .mo.sample.words .fontSt4 .area_txt .txt2{ font-size: 48px;             }
    .mo.sample.area_img .fontSt4 .area_txt .txt2{ font-size: 46px;          }
    .mo.sample.area_img.words .fontSt4 .area_txt .txt2{ font-size: 40px;    }

    /* fontSt5 나눔고딕 */
    .mo.sample .fontSt5 .area_txt p{ margin: -5px;                          }
    .mo.sample.area_img .fontSt5 .area_txt p{ margin: -5px;                }
    .mo.sample .fontSt5 .area_txt .txt1{ font-size: 17px;                   }
    .mo.sample.number .fontSt5 .area_txt .txt1{ font-size: 13px;            }
    .mo.sample.area_img .fontSt5 .area_txt .txt1{ font-size: 12px;          }
    .mo.sample.area_img.number .fontSt5 .area_txt .txt1{ font-size: 10px;   }
    .mo.sample .fontSt5 .area_txt .txt2{ font-size: 36px;                   }
    .mo.sample.words .fontSt5 .area_txt .txt2{ font-size: 34px;             }
    .mo.sample.area_img .fontSt5 .area_txt .txt2{ font-size: 26px;          }
    .mo.sample.area_img.words .fontSt5 .area_txt .txt2{ font-size: 26px;    }

    /* fontSt6 산스체 */
    .mo.sample .fontSt6 .area_txt .txt1{ font-size: 17px;                   }
    .mo.sample.number .fontSt6 .area_txt .txt1{ font-size: 12px;            }
    .mo.sample.area_img .fontSt6 .area_txt .txt1{ font-size: 13px;        }
    .mo.sample.area_img.number .fontSt6 .area_txt .txt1{ font-size: 10px; }
    .mo.sample .fontSt6 .area_txt .txt2{ font-size: 32px;                   }
    .mo.sample.words .fontSt6 .area_txt .txt2{ font-size: 29px;             }
    .mo.sample.area_img .fontSt6 .area_txt .txt2{ font-size: 24px;          }
    .mo.sample.area_img.words .fontSt6 .area_txt .txt2{ font-size: 22px;    }

    /* fontSt7 경기천년바탕체 */
    .mo.sample .fontSt7 .area_txt .txt1{ font-size: 18px;                   }
    .mo.sample.number .fontSt7 .area_txt .txt1{ font-size: 13px;            }
    .mo.sample.area_img .fontSt7 .area_txt .txt1{ font-size: 14px;          }
    .mo.sample.area_img.number .fontSt7 .area_txt .txt1{ font-size: 12px; }
    .mo.sample .fontSt7 .area_txt .txt2{ font-size: 37px;                   }
    .mo.sample.words .fontSt7 .area_txt .txt2{ font-size: 35px;             }
    .mo.sample.area_img .fontSt7 .area_txt .txt2{ font-size: 28px;          }
    .mo.sample.area_img.words .fontSt7 .area_txt .txt2{ font-size: 29px;    }

    /* fontSt8 롯데행복체 */
    .mo.sample .fontSt8 .area_txt .txt1{ font-size: 18px;                   }
    .mo.sample.number .fontSt8 .area_txt .txt1{ font-size: 14px;            }
    .mo.sample.area_img .fontSt8 .area_txt .txt1{ font-size: 14px;          }
    .mo.sample.area_img.number .fontSt8 .area_txt .txt1{ font-size: 11px;   }
    .mo.sample .fontSt8 .area_txt .txt2{ font-size: 38px;                   }
    .mo.sample.words .fontSt8 .area_txt .txt2{ font-size: 36px;             }
    .mo.sample.area_img .fontSt8 .area_txt .txt2{ font-size: 29px;          }
    .mo.sample.area_img.words .fontSt8 .area_txt .txt2{ font-size: 29px;    }

    /* fontSt9 써라운드체 */
    .mo.sample .fontSt9 .area_txt .txt1{ font-size: 17px;                   }
    .mo.sample.number .fontSt9 .area_txt .txt1{ font-size: 13px;            }
    .mo.sample.area_img .fontSt9 .area_txt .txt1{ font-size: 13px;          }
    .mo.sample.area_img.number .fontSt9 .area_txt .txt1{ font-size: 11px;   }
    .mo.sample .fontSt9 .area_txt .txt2{ font-size: 30px;                   }
    .mo.sample.words .fontSt9 .area_txt .txt2{ font-size: 30px;             }
    .mo.sample.area_img .fontSt9 .area_txt .txt2{ font-size: 22px;          }
    .mo.sample.area_img.words .fontSt9 .area_txt .txt2{ font-size: 22px;    }

    /* fontSt10 둘기마요 */
    .mo.sample .fontSt10 .area_txt .txt1{ font-size: 20px;                   }
    .mo.sample.number .fontSt10 .area_txt .txt1{ font-size: 15px;            }
    .mo.sample.area_img .fontSt10 .area_txt .txt1{ font-size: 15px;          }
    .mo.sample.area_img.number .fontSt10 .area_txt .txt1{ font-size: 12px;   }
    .mo.sample .fontSt10 .area_txt .txt2{ font-size: 35px;                   }
    .mo.sample.words .fontSt10 .area_txt .txt2{ font-size: 32px;             }
    .mo.sample.area_img .fontSt10 .area_txt .txt2{ font-size: 27px;          }
    .mo.sample.area_img.words .fontSt10 .area_txt .txt2{ font-size: 26px;    }

    /* fontSt11 수트체 */
    .mo.sample .fontSt11 .area_txt p{ margin: -5px;                          }
    .mo.sample.area_img .fontSt11 .area_txt p{ margin: -5px;                 }
    .mo.sample .fontSt11 .area_txt .txt1{ font-size: 19px;                   }
    .mo.sample.number .fontSt11 .area_txt .txt1{ font-size: 14px;            }
    .mo.sample.area_img .fontSt11 .area_txt .txt1{ font-size: 14px;          }
    .mo.sample.area_img.number .fontSt11 .area_txt .txt1{ font-size: 11px;   }
    .mo.sample .fontSt11 .area_txt .txt2{ font-size: 35px;                   }
    .mo.sample.words .fontSt11 .area_txt .txt2{ font-size: 34px;             }
    .mo.sample.area_img .fontSt11 .area_txt .txt2{ font-size: 27px;          }
    .mo.sample.area_img.words .fontSt11 .area_txt .txt2{ font-size: 26px;    }

    /* fontSt12 KOHI배움 */
    .mo.sample .fontSt12 .area_txt .txt1{ font-size: 16px;                   }
    .mo.sample.number .fontSt12 .area_txt .txt1{ font-size: 12px;            }
    .mo.sample.area_img .fontSt12 .area_txt .txt1{ font-size: 12px;          }
    .mo.sample.area_img.number .fontSt12 .area_txt .txt1{ font-size: 10px;   }
    .mo.sample .fontSt12 .area_txt .txt2{ font-size: 30px;                   }
    .mo.sample.words .fontSt12 .area_txt .txt2{ font-size: 15px;             }
    .mo.sample.area_img .fontSt12 .area_txt .txt2{ font-size: 22px;          }
    .mo.sample.area_img.words .fontSt12 .area_txt .txt2{ font-size: 22px;    }

    /* fontSt13 나눔바른고딕체  */
    .mo.sample .fontSt13 .area_txt p{ margin: -5px;                         }
    .mo.sample.area_img .fontSt13 .area_txt p{ margin: -5px;                 }
    .mo.sample .fontSt13 .area_txt .txt1{ font-size: 17px;                   }
    .mo.sample.number .fontSt13 .area_txt .txt1{ font-size: 12px;            }
    .mo.sample.area_img .fontSt13 .area_txt .txt1{ font-size: 13px;          }
    .mo.sample.area_img.number .fontSt13 .area_txt .txt1{ font-size: 10px;   }
    .mo.sample .fontSt13 .area_txt .txt2{ font-size: 34px;                   }
    .mo.sample.words .fontSt13 .area_txt .txt2{ font-size: 33px;             }
    .mo.sample.area_img .fontSt13 .area_txt .txt2{ font-size: 26px;          }
    .mo.sample.area_img.words .fontSt13 .area_txt .txt2{ font-size: 26px;    }

    .option{
        position: relative;
        top: calc(34px * 3.3);
    }
    
    .option .opt_zip{
        width: 90%;
    }

    .option .opt_item {
        margin-bottom: 1rem;
    }

    .emailbox{
        position: relative;
        top: calc(34px * 3);
    }

    .emailbox .div_radio{
        display: block;
    }
    
}